In [1]:
import os
import torch
from torch import nn
from torch.utils.data import DataLoader, Dataset
from transformers import (
    BertTokenizer,
    BertModel,
    AdamW,
    get_linear_schedule_with_warmup,
)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df = pd.read_json("./data/jawbone.json")

Augment the data with the label (narrator)

In [3]:
import json

f = open("./data/unofficial_solution.json")
possible_solutions = json.load(f)
f.close()


def get_narrator(id):
    for key, ids in possible_solutions.items():
        if id in ids:
            return key
    return None


df["narrator"] = df["page"].apply(lambda x: get_narrator(x))
df

    page                                               text          narrator
0      1  I sit down alone at the appointed table and ta...        Bill Hardy
1      2  I plunged for the last time. The few remaining...       Oscar Mills
2      3  At my meeting with Clement yesterday, he had b...       John Walker
3      4  And I really think I would have preferred the ...        Bill Hardy
4      5  I hated my eye for being caught by what didn’t...     May Doncaster
..   ...                                                ...               ...
95    96  Now I think I will try a cup of what they inso...        Bill Hardy
96    97  To have slept and to wake right up surrounded ...       John Walker
97    98  He stood and looked down at me; but I was not ...  Sir Paul Trinder
98    99  And she wore a mauve love-knot on her breast, ...       Henry (dog)
99   100  I dimly guess why the old dead so wanted this....        Bill Hardy

[100 rows x 3 columns]